.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;
    width: 500px;
    padding: 25px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 500px;
    padding: 25px;

}

.login-buttons {
    background-color: rgb(215, 4, 102);
    color: white;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    font-size: 1em;
    border: none;
    margin-top: 6px;
    cursor: pointer;
}

.signup-header {
    text-align: center;
}

.login-title {
    text-align: center;
    margin-top: 10px;
}


input {
    width: calc(100% - 16px);
    height: 50px;
    border-radius: 6px;
    border-color: gray;
    font-size: large;
    margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid rgb(164, 163, 163);
}
